.row {
	margin: 0;
}
img[alt="Dating"] {
	height: 50px;
}

.navbar-white {
	background-color: white;
	margin: 0;
	padding-left: 25vh;
	padding-right: 25vh;
	border-radius: 0;
}



.navbar-btn:hover, .navbar-btn.activeLink {
	color: white;
	background-color: #E54C4B;
}

.navbar-btn {
	position: relative;
	color: #656565;
}

.navbar-btn.activeLink:after {
	top: 128%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #FF5967;
	border-top-color: white;
	border-width: 1vh;
	margin-left: -1vh;
}

.pinkBG {
	background-color: #FF5967;
	color: white;
	padding-left: 35vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	border-bottom: 1vh solid #E54C4B;
}

.pinkBG h1 {
	text-shadow: 2px 2px #E54C4B;
}
