.row {
	margin: 0;
}

.FormContainer {
	position: fixed;
	top: 10vh;
	right: 25vh;
	padding: 4vh 1vh 4vh 1vh;
	border-radius: 5px;
	background-color: white;
}

/* FORM VALIDATOR */
.has-feedback .form-control-feedback {
	top: 0px;
	right: 2vh;
	z-index: 2;
}
.validationError {
	color: red;
	display: block;
}

/* ./ Form Validator */

/* NAVBAR SETTINGS */
img[alt="Dating"] {
	height: 50px;
}
.navbar-white {
	background-color: white;
	margin: 0;
	padding-left: 20vh;
	padding-right: 20vh;
	border-radius: 0;
}
.navbar-btn {
	position: relative;
	color: #656565;
	font-size: 90%;
}
.navbar-btn:hover, .navbar-btn.activeLink {
	color: white;
	background-color: #E54C4B;
}
.navbar-btn.activeLink:after {
	top: 135%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #FF5967;
	border-top-color: white;
	border-width: 1vh;
	margin-left: -1vh;
}
.pinkBtn {
	background-color: #E54C4B;
	color: white;
	padding-left: 2vh;
	padding-right: 2vh;
}
/* ./ Navbar Settings */

/* FOOTER SETTINGS */
.navbar-grey {
	background-color: #474A54;
	padding: 0 20vh;
	color: white;
	font-size: 80%;
}

ul.list-inline.navbar-right li {
	padding: 0;
}
.navbar-default .navbar-text {
	color: white;
}
a.navbar-text {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1vh;
	padding-right: 1vh;
}
.side-borders {
	border-right: 1px solid white;
	border-left: 1px solid white;
	margin-left: 0;
	margin-right: 0;
	padding-left: 1vh;
	padding-right: 1vh;
}
ul.list-inline.navbar-right {
	margin-bottom: 0;
}

/* ./ Footer Settings */

/* LOGIN.HTML SETTINGS */
.pinkBG {
	background-color: #FF5967;
	color: white;
	padding-left: 25vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	border-bottom: 1vh solid #E54C4B;
}
.pinkBG h1 {
	text-shadow: 3px 3px #E54C4B;
	font-size: 200%;
}
.pinkBG p {
	color: #FEE8EA;
}
.greyBG {
	padding-left: 20vh;
	padding-top: 10vh;
	height: 70vh;
	background-color: #F4F4F4;
}
img[alt="Angels Waiting For You"] {
	height: 371px;
	width: 616px;
}
legend.signInAs {
	width: inherit; /* Or auto */
	padding: 3vh 2vh 0 2vh;
	margin-left: 11vh;
	margin-bottom: 2vh;
	border-bottom: none;
	color: #FF6D7A;
	font-size: 120%;
}
fieldset.fieldset-border {
	border: 1px solid #ddd !important;
	border-radius: 5px;
	padding: 0 1vh 2vh 1vh !important;
	margin: 0;
	font-size: 100%;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}
.pinkLabel {
	color: #FF6D7A;
}
.greyText {
	color: #B5B5B5;
}
.pinkBtnLg {
	margin-top: 2vh;
	color: white;
	padding-left: 8vh;
	padding-right: 8vh;
	background-color: #FF5967;
}
fieldset.line-border {
	border-top: 1px solid #ddd !important;
	padding: 0 1vh 2vh 1vh !important;
	margin: 0;
	font-size: 100%;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}
legend.or {
	width: inherit; /* Or auto */
	padding: 1vh 3vh 0 3vh;
	margin-left: 15vh;
	margin-bottom: 2vh;
	border-bottom: none;
	color: #ddd;
	font-size: 100%;
}
.fbBtn {
	background-color: #3C57A2;
}
/* ./ Login.html Settings */

/* SIGN UP SETTINGS */
img[alt="Mobile Version"] {
	width: 159px;
	height: 293px;
}
.whyUs {
	margin-top: -3vh;
}
.whyUs h2 {
	margin-top: 0;
	margin-bottom: 2vh;
	color: #E54C4B;
	font-size: 180%;
}
.iconCell {
	padding-right: 2vh;
	color: #E54C4B;
}
.txtCell {
	padding-top: 2vh;
}
.greenBtn {
	background-color: #00A651;
	color: white;
	padding-left: 2vh;
	padding-right: 2vh;
	margin-top: 2vh;
}
.red {
	color: red;
}
label[for="birthDate"] {
	color: #AEAEAE;
	font-weight: bold;
}
.btnGroup h5{
	color: #AEAEAE;
	font-weight: bold;
}
.btnGender:hover, .btnPinked {
	background-color: #E54C4B;
	color: white;
}
/* ./ Sign Up Settings */

/* USERPROFIL.HTML SETTINGS */
.pinkBGCarousel {
	background-color: #FF5967;
	color: white;
	padding-left: 25vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
	border-bottom: 1vh solid #E54C4B;
}

.pinkWell {
	background-color: #FF7A85;
	border: none;
}

/* ./ UserProfil.html Setting */