/* Fonts Includes */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 100;
	src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
/* End Fonts Includes */




/* Titles Settings */
h1 {
	text-shadow: 3px 3px #E54C4B;
	font-size: 200%;
}
h2 {
	margin: 0 0 2% 0;
	font-size: 200%;
}
h5 {
	font-weight: normal;
}
/* End Titles Settings */




/* Background Colors */
.whiteBG {
	background-color: #FFFFFF;
}
.greyBG1 {
	background-color: #474A54;
}
.greyBG2 {
	background-color: #F4F4F4;
}
.pinkBG1 {
	background-color: #FF5967;
}
.pinkBG2 {
	background-color: #FF7A85;
}
.pinkBG3 {
	background-color: #CC626A;
}
.greenBG {
	background-color: #00A651;
}
/* End Background Colors */




/* Modal Settings */
.pinkBorderShadowed {
	border-color: #FF5967;
	box-shadow: 0 3px 9px #FF5967
}
.photoModalContent {
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.photoModalHeader {
	border-bottom: none;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
/* En Modal Settings */




/* Text Colors */
.greyTxt1 {
	color: #555555;
}
.greyTxt2 {
	color: #AEAEAE;
}
.greyTxt3 {
	color: #E6B1B5;
}
.greyTxt4 {
	color: #CCCCCC;
}
.greyTxt5 {
	color: #8B8B8B;
}
.whiteTxt {
	color: #FFFFFF;
}
.red {
	color: red;
}
.pinkIcon {
	color: #E54C4B;
}
.pinkTxt {
	color: #FF5A69;
}
.pinkTxt2 {
	color: #E56C69;
}
.pinkBG p {
	color: #FEE8EA;
}
/* End Text Colors */




/* Button Colors */
.pinkBtn {
	background-color: #E54C4B;
	color: #FFFFFF;
}
.pinkBtnLg {
	margin-top: 2vh;
	color: #FFFFFF;
	padding-left: 8vh;
	padding-right: 8vh;
	background-color: #FF5967;
}
.greyBtn {
	background-color: #EBEBEB;
	color: #555555;
}
.fbBtn {
	background-color: #3C57A2;
}
/* End Button Color */




/* Button Sizes & Parameters */
.largeBtn {
	width: 50%;
	padding: 5% 5%;
	margin: 2% auto;
}
.largeBtn:hover, .genderBtn:hover, .genderBtn.active, .popularityBtn:hover, .sectionBtn:hover, input[name=checkbox]:checked + label {
	background-color: #FF5967;
	color: #FFFFFF;
}
input[name=checkbox]  {
	display: none;
}
.popularityBtn {
	padding: 5% 0;
}
.mobileBtn {
	margin-top: 5%;
}
.genderBtn {
	width: 50%;
	padding: 2% 0;
}
.geoBtn {
	margin: 5% auto 0 auto;
	padding: 2% 2%;
}
.geoBtn:hover {
	background-color: #474A54;
	color: white;
}
.closeUpdatePanel:hover {
	color: #474A54;
}
.hidePanel:hover, .showPanel:hover {
	background-color: #474A54;
	color: white;
}
.hidePanel {
	margin-bottom: 5%;
}
.toolsBtn {
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 1;
}
.btnShadow {
	box-shadow: 0 1px 0 black;
}
.updateBtnGroup {
	margin-top: 5%;
}
.filterBtn {
	width: 100px;
}
/* End Button Sizes & Parameters */




/* Form Setting & Validator */
.has-feedback .form-control-feedback {
	top: 0px;
	right: 2vh;
	z-index: 2;
}
.form-control-feedback.iconForm {
	top: 25px;
	right: 2vh;
	z-index: 2;
}
form[name="updateForm"] .has-feedback .form-control-feedback {
	top: 24px;
}
.validationError {
	color: red;
	display: block;
}
.Form {
	position: absolute;
	border-radius: 5px;
}
.dobPaddings {
	padding: 0 5px;
}
.paddingLeft {
	padding-left: 0;
}
.paddingRight {
	padding-right: 0;
}
.roundCorner {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
textarea, .textZone {
	overflow: auto;
}
/* End Form Setting & Validator */




/* Images Settings */
img[alt="Dating"] {
	height: 50px;
}
img[alt="heart-icon"] {
	width: 20%;
	margin-bottom: 5%;
}
img[alt="sideImg"] {
	width: 80%;
}
.imgProfilRounded {
	border-radius: 50%;
	width: 140px;
	height: 140px;
}
.smallPicture {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.carouselPicture {
	border-radius: 10px;
	width: 80px;
	height: 80px;
}
/* End Images Settings */



/* Dropzone Settings */
#profilZone {
	border: 0.2px dotted grey;
	border-radius: 50%;
	margin: 0 auto;
	padding: 0;
}
#profilZone .dz-default.dz-message span, #profilZone .dz-preview {
	display: none;
}
#profilZone span.dz-default.dz-message {
	display: inline-block;
	margin: 4em 0;
}
#profilZone.dz-started .dz-message {
	display: inline-block;
}
#profilZone .dz-default.dz-message {
	margin: 0 0;
}
#photoZone {
	border: 0.5px dotted grey;
	width: 90%;
	margin: 2% 5%;
}
.profilImg {
	border-radius: 50%;
	margin: 0 auto;
}
.dropTxt {
	margin: 35% auto 0 auto;
	font-size: 120%;
}
.dropTxtPhoto {
	width: 25%;
	text-align: center;
	margin: 5% auto;
}
/* Dropzone Settings */




/* Navbar Settings */
.navbar {
	margin: 0;
	border-radius: 0;
	font-size: 100%;
}
.navbar-btn {
	position: relative;
}
.navbar-btn:hover, .navbar-btn.activeLink {
	color: #FFFFFF;
	background-color: #E54C4B;
}
/* End Navbar Settings */



/* Bootstrap Image Gallery Settings */
.descriptionInput {
	position: absolute;
	top: 2%;
	left: 1%;
	width: 40%;
}
.deletePhoto {
	position: absolute;
	bottom: 2%;
	right: 2%;
}
.deletePhoto:hover {
	color: #FFFFFF;
	text-decoration: none;
}
/* End Bootstrap Image Gallery Settings */



/* Footer Settings */
.navbar-fixed-bottom {
	padding: 0 0 0 2vh;
	font-size: 80%;
}
.list-inline.navbar-right li {
	padding: 0;
}
.navbar-default .navbar-text {
	color: #FFFFFF;
}
.navbar-text {
	margin: 15px 0;
	padding: 0 4px;
}
.side-borders {
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
.list-inline.navbar-right {
	margin-bottom: 0;
}
/* End Footer Settings */





/* Sign In As Settings */
.signInAs {
	width: inherit; /* Or auto */
	padding: 3vh 2vh 0 2vh;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 2vh;
	border-bottom: none;
	font-size: 120%;
}
.fieldset-border {
	border: 1px solid #ddd !important;
	border-radius: 5px;
	padding: 2% 0 10% 0 !important;
	margin: 0;
	font-size: 100%;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}
/* End Sign In As Settings */




/* Registration Settings */
.iconCell {
	padding-right: 2vh;
	padding-top: 1vh;
}
.txtCell {
	padding-top: 2vh;
}
/* End Registration Settings */




/* Containers Settings */
.row {
	margin: 0;
}
.container-fluid {
	padding: 0;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
	margin-top: 50px;
	min-height: 80vh;
}
.view-container {
	margin-bottom: 100px;
}
.headerContainer {
	padding: 1% 10% 1% 10%;
	border-bottom: 4px solid #E54C4B;
}
.carouselContainer {
	border-radius: 5px;
	padding: 1% 0;
}
.carouselArrowContainer {
	padding: 0;
}
.carouselArrow {
	height: 80px;
	width: 40px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 1vh;
	padding-top: 2vh;
}
.panel.panel-default {
	padding: 5% 0;
	border: none;
}
.profilContainer {
	padding: 0 10%;
}
.iconContainer {
	padding: 0;
}
.contentBlock {
	padding: 0 0;
}
.linkList {
	margin-top: 5%;
}
.fa-ul li {
	margin: 4% 0;
}
.thinBorders {
	border: 0.5px solid #F6F6F6;
	padding: 0;
}
.well.whiteBG {
	border: none;
}
.sidePanelTitle {
	margin: 0 auto;
}
.noPaddings {
	padding: 0 0;
}
.centerMap {
	padding: 3% 3%;
}
.centerContent {
	padding: 0 2% 5% 2%;
}
/* End Containers Settings */



/* Map Settings */
#map-canvas {
	width: 100%;
	height: 200px;
}
.mapMessage {
	margin: 2% auto 0 auto;
}
/* End Map Settings */



/* Slider Settings */
.slider.slider-horizontal {
	width: 100%;
}
/* End Slider Settings */




.noBlur {
	z-index: 3;
	position: absolute;
}
.progress-bar {
	background-color: #E54C4B;
}
.progress {
	border-radius: 10px;
	border: 1px solid #D8D8D8;
}
.smallIcon {
	font-size: 20px;
}



/* Media Queries Mobile */
@media (max-width: 767px) {
	.fb {
		margin-top: 3vh;
	}
	.pinkBtnLg {
		margin-top: 0;
	}
	.pinkBG {
		padding: 1% 5% 1% 5%;
	}
	.loadingLogoContainer {
		padding-top: 5%;
	}
	.contentBlock {
		padding: 5% 0; 
	}
	.profilImg {
		width: 80px;
		height: 80px;
	}
	#profilZone {
		width: 80px;
		min-height: 80px;
	}
	.sidePanel {
		margin-top: 70px;
	}
	.middlePanel {
		margin-top: 70px;
	}
	.popularityBtn {
		margin-bottom: 5%;
		padding: 6px 0;
	}
}
/* End Media Queries Mobile */

/* Media Queries Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.FormTablet {
		width: 35%;
		right: 5%;
		padding: 3% 0;
	}
	.LoginTablet {
		top: 0;
	}
	.RegiTablet {
		top: -25%;
	}
	img[alt="Angels Waiting For You"] {
		height: 250px;
		margin-left: 0;
		margin-top: 10%;
		margin-left: 3%;
	}
	.container {
		width: auto;
	}
	.whyUs {
		margin-top: 10%;
	}
	.loadingLogoContainer {
		padding-top: 25%;
	}
	.profilImg {
		width: 120px;
		height: 120px;
	}
	#profilZone {
		width: 120px;
		min-height: 120px;
	}
	.sidePanel {
		margin-top: 70px;
	}
	.middlePanel {
		margin-top: 70px;
	}
	.popularityBtn {
		margin-bottom: 5%;
		padding: 6px 0;
	}
}
/* End Media Queries Tablet */

/* Media Queries Medium */
@media (min-width: 992px) and (max-width: 1199px) {
	img[alt="Angels Waiting For You"] {
		width: 50%;
		margin: 8% 5%;
	}
	img[alt="Mobile Version"] {
		width: 90%;
		margin-top: 70%;
	}
	.container {
		width: auto;
	}
	/*
	.navbar-btn.activeLink:after {
		position: absolute;
		top: 41px;
		left: 50%;
		content: "";
		height: 0;
		width: 0;
		pointer-events: none;
		border: solid transparent;
		border-color: #FF5967;
		border-top-color: #FFFFFF;
		border-width: 1vh;
		margin-left: -1vh;
	}
	*/
	.FormMedium {
		width: 30%;
		top: -15%;
		right: 5%;
		padding: 4vh 1vh 4vh 1vh;
	}
	.whyUs {
		margin-top: 10%;
	}
	.loadingLogoContainer {
		padding-top: 20%;
	}
	.middlePanel {
		margin-top: 5%;
	}
	.profilImg {
		width: 150px;
		height: 150px;
	}
	#profilZone {
		width: 150px;
		height: 150px;
	}
	.sidePanel {
		margin-top: 10%;
	}
}
/* End Media Queries Medium */

/* Media Queries Large */
@media (min-width: 1200px) {
	img[alt="Angels Waiting For You"] {
		width: 50%;
		margin: 4% 5%;
	}
	img[alt="Mobile Version"] {
		width: 100%;
		margin-top: 40%;
	}
	.container {
		width: auto;
	}
	/*
	.navbar-btn.activeLink:after {
		position: absolute;
		top: 41px;
		left: 50%;
		content: "";
		height: 0;
		width: 0;
		pointer-events: none;
		border: solid transparent;
		border-color: #FF5967;
		border-top-color: #FFFFFF;
		border-width: 1vh;
		margin-left: -1vh;
	}
	*/
	.FormLarge {
		width: 25%;
		top: -20%;
		right: 5%;
		padding: 4vh 1vh 4vh 1vh;
	}
	.whyUs {
		margin-top: 10%;
	}
	.loadingLogoContainer {
		padding-top: 15%;
	}
	.middlePanel {
		margin-top: 3%;
	}
	.profilImg {
		width: 150px;
		height: 150px;
	}
	#profilZone {
		width: 150px;
		height: 150px;
	}
	.sidePanel {
		margin-top: 10%;
	}
}
/* End Media Queries Large */