<div class="row" ng-init="activate()" ng-controller="RegistrarCtrl">
	
	<div class="container-fluid" ng-show="activated">
		<div class="whiteTxt pinkBG1 headerContainer">
			<h1> ACTIVATION SUCCESS </h1>
			<p><em> Your account has been activated you can now log in. </em></p>
		</div><!-- class whiteTxt pinkBG1 headerContainer -->
	</div><!-- class container-fluid -->
	
	<div class="container-fluid" ng-hide="activated">
		<div class="whiteTxt pinkBG1 headerContainer">
			<h1> ACTIVATION FAILURE </h1>
			<p><em> There was a problem activating you're account. </em></p>
		</div><!-- class whiteTxt -->
	</div><!-- class container-fluid -->
</div><!-- class row -->