<div class="container-fluid" ng-controller="SearchUsersCtrl">

	<div class="container profilContainer">
		<div class="row">

			<!-- Informations panel -->
			<div class="col-lg-3">
				<div class="panel panel-default sidePanel text-center">

					<!-- Title -->
					<div class="row">
						<h3 class="pinkTxt sidePanelTitle"><i class="fa fa-filter"></i> Filters </h3>
					</div><!-- class row -->

					<hr>

					<form name="filtersForm" novalidate role="filters" ng-submit="getFilters(filter)">
						<!-- Gender Filter -->
						<div class="row">

							<div class="col-lg-12">
								<label class="greyTxt2 pull-left" for="gender"> Gender </label>
							</div><!-- class row -->

							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.gender.male"> Male
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.gender.female" value="female"> Female
								</label>
							</div><!-- class btn-group -->
							
						</div><!-- class row -->

						<hr>

						<!-- Height Filter -->
						<div class="row">

							<div class="col-lg-12">
								<label class="greyTxt2 pull-left" for="height"> Height (in centimeters) </label>
								<slider ng-model="sliders.height" min="120" step="5" max="220" value="[120,220]" range="true"></slider>
							</div><!-- class col-lg-12 -->

						</div><!-- class row -->

						<hr>

						<!-- Skin Filter -->
						<div class="row">

							<div class="col-lg-12">
								<label class="greyTxt2 pull-left" for="skin"> Skin Tone </label>
							</div><!-- class row -->

							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.skin.black" value="black"> Black
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.skin.asian" value="asian"> Asian
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.skin.white" value="white"> White
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.skin.mixed" value="mixed"> Mixed
								</label>
							</div><!-- class btn-group -->

						</div><!-- class row -->

						<hr>

						<!-- Eyes Filter -->
						<div class="row">

							<div class="col-lg-12">
								<label class="greyTxt2 pull-left" for="eyes"> Eyes Color </label>
							</div><!-- class row -->

							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.eyes.black" value="black"> Black
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.eyes.brown" value="brown"> Brown
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.eyes.blue" value="blue"> Blue
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.eyes.green" value="green"> Green
								</label>
							</div><!-- class btn-group -->

						</div><!-- class row -->

						<hr>

						<!-- Hair Filter -->
						<div class="row">

							<div class="col-lg-12">
								<label class="greyTxt2 pull-left" for="hair"> Hair Color </label>
							</div><!-- class row -->

							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.hair.black" value="black"> Black
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.hair.brown" value="brown"> Brown
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.hair.red" value="red"> Red
								</label>
								<label class="btn btn-default filterBtn">
									<input type="checkbox" ng-model="filter.hair.blond" value="blond"> Blond
								</label>
							</div><!-- class btn-group -->

						</div><!-- class row -->

						<hr>

						<!-- Weight Filter -->
						<div class="row">

							<div class="col-lg-12">
								<label class="greyTxt2 pull-left" for="weight"> Weight (in kilograms) </label>
								<slider ng-model="sliders.weight" min="30" step="5" max="120" value="[30,120]" range="true"></slider>
							</div><!-- class col-lg-12 -->

						</div><!-- class row -->

						<hr>

						<!-- Search Button -->
						<div class="row">

							<div class="col-lg-12">
								<button type="submit" class="btn pinkBtn largeBtn sectionBtn center-block"><i class="fa fa-search fa-lg"></i> Search </button>
							</div><!-- class col-lg-12 -->

						</div><!-- class row -->
					</form>

				</div><!-- class panel panel-default -->
			</div><!-- class col-lg-3 -->

			<div class="col-lg-9">
				<div class="panel panel-default middlePanel" ng-controller="MapCtrl">

					<div class="row">
						<div class="col-lg-12">
							<h2 class="pinkTxt"><i class="fa fa-search"></i> Encounters	</h2>
						</div><!-- class col-lg-12 -->
					</div><!-- class col-lg-12 -->

					<div class="row">

						<div class="col-lg-2 text-center">
							<img class="img-responsive smallPicture" src="imgDrop/ProfilPictures/user_29.jpeg">
							<h5> Cindy, 24 </h5>
							<h6 class="greyTxt2"><em> Paris </em></h6>
						</div><!-- class col-lg-2 -->

					</div><!-- class row -->

				</div><!-- class panel panel-default -->
			</div><!-- class col-lg-9 -->

		</div><!-- class row -->
	</div><!-- class container -->
</div><!-- class container-fluid -->