<div class="container-fluid" ng-controller="ProfilCtrl">
	<div class="container profilContainer">
		<div class="row">

			<!-- Informations panel -->
			<div class="col-lg-3">
				<div class="panel panel-default sidePanel text-center">
					
					<!-- Profil picture -->
					<div class="row"> 
						<img class="profilImg img-responsive" ng-src="{{visitedProfil.profil_path}}"/>
					</div><!-- class drop-box -->

					<!-- Name , Age -->
					<div class="row">
						<h3> {{visitedProfil.username | capitalize}}, {{visitedProfil.dob | age}} </h3>
						<h4><small> Paris </small></h4>
					</div><!-- class row -->

					<!-- List of links -->
					<div class="row">
						<div class="col-lg-12">
							<ul class="list-unstyled">
								<li class="greyTxt1"><p> Height : {{visitedProfil.height}} cm </p></li>
								<li class="greyTxt1"><p> Weight : {{visitedProfil.weight}} kg </p></li>
								<li class="greyTxt1"><p> Eyes : {{visitedProfil.eyes}} </p></li>
								<li class="greyTxt1"><p> Hair : {{visitedProfil.hair}} </p></li>
								<li class="greyTxt1"><p> Skin : {{visitedProfil.skin}} </p></li>
							</ul><!-- class list-unstyled fa-ul text-left -->
						</div><!-- class col-lg-10 col-lg-offset-2 -->
					</div><!-- class row -->

					<!-- Add Friend -->
					<div class="row">
						<div class="col-lg-12">
							<a class="btn pinkBtn popularityBtn center-block btnShadow"> Add as Friend </a>
							<button type="button" class="btn pinkBtn popularityBtn center-block btnShadow" data-animation="am-fade-and-slide-top" ng-click="addWingNote()"> Add a WingNote</button>
						</div><!-- class col-lg-12 -->
					</div><!-- class row -->

				</div><!-- class panel panel-default sidePanel text-center -->
			</div><!-- class col-lg-3 -->


			<div class="col-lg-9">
				<div class="panel panel-default middlePanel" ng-controller="MapCtrl">

					<div class="row">
						<div class="col-lg-4">
							<h2 class="pinkTxt">
								<i ng-show="activeTab === 'profil'" class="fa fa-heart"></i>
								<i ng-show="activeTab === 'photos'" class="fa fa-camera"></i>
								{{activeTab | capitalize}}
							</h2><!-- class pinkTxt -->
						</div><!-- class col-lg-4 -->

						<div class="col-lg-4 col-lg-offset-4 text-right">
							<a class="btn sectionBtn btnShadow" ng-hide="activeTab === 'update'" ng-click="setClass('profil')" ng-class="getClass('profil')"><i class="fa fa-user"></i><small> Profile </small></a>
							<a class="btn sectionBtn btnShadow" ng-hide="activeTab === 'update'" ng-click="setClass('photos')" ng-class="getClass('photos')"><i class="fa fa-picture-o"></i><small> Photos </small></a>
						</div><!-- class col-lg-4 col-lg-offset-4 text-right -->

					</div><!-- class row -->


					<!-- Profil Section -->
					<div class="row" ng-show="activeTab === 'profil'">

						<!-- Numeric informations -->
						<div class="row">
							<div class="col-lg-2">
								<p><i class="fa fa-child fa-lg"></i><strong> 8 </strong> Friends </p>
							</div><!-- class col-lg-2 -->
							<div class="col-lg-2">
								<p><i class="fa fa-info-circle fa-lg"></i><strong> 5 </strong> Interests </p>
							</div><!-- class col-lg-2 -->
							<div class="col-lg-4">
								<p><i class="fa fa-user-plus fa-lg"></i><strong> 18 </strong> Angel Recommended </p>
							</div><!-- class col-lg-4 -->
						</div><!-- class row -->

						<div class="row">

							<div class="col-lg-5 noPaddings">

								<div class="row thinBorders">
									
									<div class="col-lg-8">
										<h5 class="text-left greyTxt2"> Location : <span class="pinkTxt"> {{visitedProfil.location}} </span></h5>
									</div><!-- class col-lg-8 -->

									<div class="col-lg-4 text-right">
										<a class="btn btn-link" ng-click="hideMap = !hideMap"><i class="fa fa-map-marker"></i> Hide Map </a>
									</div><!-- class col-lg-4 -->

								</div><!-- class row thinBorders -->

								<div class="row thinBorders" ng-controller="MapCtrl">
									<div class="col-lg-12 centerMap noPaddings" ng-hide="hideMap">
										<div id="map-canvas" ng-hide="loading"></div>
										<div ng-show="loading">
											<i class="fa fa-cog fa-spin fa-4x"></i>
											<div> Locating ... </div>
										</div>
									</div><!-- class col-lg-12 centerMap noPaddings -->
								</div><!-- class row thinBorders -->

							</div><!-- class col-lg-5 noPaddings -->

							<div class="col-lg-7 thinBorders">
								<div class="row">
									
									<!-- I'm here to -->
									<div class="row">
										<div class="col-lg-12 thinBorders centerContent">
											<h5 class="text-left pinkTxt"> I'm here to </h5>
											{{visitedProfil.whyHere}}
										</div><!-- class col-lg-12 thinBorders centerContent -->
									</div><!-- class row -->

									<div class="row">
										<div class="col-lg-12 thinBorders centerContent">
											<h5 class="text-left pinkTxt"> Recommended by <span class="badge pinkBG1"> 8 </span></h5>
										</div><!-- class col-lg-12 thinBorders centerContent -->
									</div><!-- class row -->

								</div><!-- class row -->
							</div><!-- class col-lg-7 thinBorders -->

						</div><!-- class row -->

						<div class="row">
							<div class="col-lg-12 thinBorders centerContent">
								<h5 class="text-left pinkTxt"> About Me </h5>
								<p class="text-left">
									{{visitedProfil.aboutMe}}
								</p>
							</div><!-- class col-lg-12 thinBorders centerContent -->
						</div><!-- class row -->

						<!-- Photos Section -->
						<div class="row" ng-show="activeTab === 'photos'" ng-init="displayPhotos()">

							<form class="dropzone" id="photoZone" dropzone="photosDropzoneConfig"></form>

							<div id="links" class="photos-display">
								<a ng-repeat="photo in photos track by photo.id" href="{{photo.path}}" title="{{photo.description}}" alt="{{photo.id}}" data-gallery>
									<img ng-src="{{photo.thumbnail_path}}" alt="{{photo.id}}">
								</a>
							</div><!-- class photo-display -->

						</div><!-- class row -->

					</div><!-- class panel panel-default -->
				</div><!-- class col-lg-9 -->

			</div><!-- class row -->
		</div><!-- class container -->
</div><!-- class container-fluid -->