<div class="row" ng-controller="AuthCtrl">

	<div class="container-fluid">
		<div class="whiteTxt pinkBG1 headerContainer">
			<h1> DATING, MADE TRUSTFULLY SOCIAL </h1>
			<p><em> Meet people championed by their family and friends </em></p>
		</div><!-- class whiteTxt pinkBG headerContainer -->
	</div><!-- class container-fluid -->

	<div class="container-fluid contentBlock" ng-class="{whiteBG: typeDevice === 'mobile'}">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<img class="img-responsive hidden-xs" src="img/angels_waiting_for_you.png" alt="Angels Waiting For You">
			<div ng-include="'partials/loginForm.html'" ng-class="{Form: typeDevice === 'noMobile', FormTablet: sizeDevice === 'tablet', LoginTablet: sizeDevice === 'tablet', FormMedium: sizeDevice === 'medium', FormLarge: sizeDevice === 'large', whiteBG: typeDevice === 'noMobile'}" ></div>
		</div><!-- class col-lg-12 col-md-12 col-sm-12 -->
	</div><!-- class container contentBlock whiteBG -->

</div><!-- row -->