<form name="signUpForm" novalidate role="register" ng-submit="signUpForm.$valid && register(user)">

	<div class="row">
		<!-- Username Input -->
		<div class="col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.username.$valid, 'has-error': signUpForm.username.$invalid && signUpForm.username.$dirty}"> 

			<label class="sr-only" for="username"> Username </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<i class="fa fa-user"></i>
				</span>
				<input type="text" class="form-control" ng-model="user.username" aria-describedby="usernameStatus" name="username" id="username" placeholder="Username" ng-minlength="2" ng-maxlength="60" required>
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.username.$valid" aria-hidden="true"></span>
			<span id="usernameStatus" class="sr-only"> (success) </span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.username.$invalid && signUpForm.username.$dirty" aria-hidden="true"></span>
			<span id="usernameStatus" class="sr-only"> (warning) </span>
			<span class="validationError" ng-show="signUpForm.username.$error.minlength"> * The username has to be a least 2 characters </span>
			<span class="validationError" ng-show="signUpForm.username.$error.maxlength"> * The username can't be more than 60 characters </span>
			<span class="validationError" ng-show="signUpForm.username.$error.required && signUpForm.username.$dirty"> *The username is required </span>

		</div><!-- class col-xs-12 -->

		<!-- Email Input -->
		<div class="col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.email.$valid, 'has-error': signUpForm.email.$invalid && signUpForm.email.$dirty}">

			<label class="sr-only" for="email"> Email </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<i class="fa fa-envelope"></i>
				</span>
				<input type="email" class="form-control" ng-model="user.email" aria-describedby="emailStatus"  name="email" id="email" placeholder="Email" ng-maxlength="255" required email-check>
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.email.$valid" aria-hidden="true"></span>
			<span id="emailStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.email.$invalid && signUpForm.email.$dirty && !signUpForm.email.$pending.emailcheck" aria-hidden="true"></span>
			<span id="emailStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="signUpForm.email.$error.required && signUpForm.email.$dirty">* The email address is required</span>
			<span class="validationError" ng-show="signUpForm.email.$error.emailcheck && signUpForm.email.$dirty">* This email is already registered</span>
			<span class="form-control-feedback" ng-show="signUpForm.email.$pending.emailcheck"><i class="fa fa-circle-o-notch fa-spin"></i></span>

		</div><!-- class col-xs-12 -->

		<!-- Password input-->						
		<div class="col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.password.$valid, 'has-error': signUpForm.password.$invalid && signUpForm.password.$dirty}">

			<label class="sr-only" for="password"> Password </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<input type="password" class="form-control" ng-model="user.password" aria-describedby="passwordStatus" name="password" id="password" placeholder="Password..." ng-minlength="8" ng-maxlength="100" required>
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.password.$valid" aria-hidden="true"></span>
			<span id="passwordStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.password.$invalid && signUpForm.password.$dirty" aria-hidden="true"></span>
			<span id="passwordStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="signUpForm.password.$error.minlength">* The password has to be a least 8 characters</span>
			<span class="validationError" ng-show="signUpForm.password.$error.maxlength">* The password can't be more than 100 characters</span>
			<span class="validationError" ng-show="signUpForm.password.$error.required && signUpForm.password.$dirty">* The password is required</span>
		</div><!-- class col-xs-12 -->

		<!-- Confirm input -->
		<div class="col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.password_confirmation.$valid, 'has-error': signUpForm.password_confirmation.$invalid && signUpForm.password_confirmation.$dirty}">

			<label class="sr-only" for="password_confirmation"> Confirm </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<input type="password" class="form-control" ng-model="user.password_confirmation" aria-describedby="password_confirmationStatus" name="password_confirmation" id="password_confirmation" placeholder="Confirm..." ng-minlength="8" ng-maxlength="100" required password-match="{{user.password}}">
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.password_confirmation.$valid" aria-hidden="true"></span>
			<span id="password_confirmationStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.password_confirmation.$invalid && signUpForm.password_confirmation.$dirty" aria-hidden="true"></span>
			<span id="password_confirmationStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.minlength">* The password has to be a least 8 characters</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.passwordmatch && signUpForm.password_confirmation.$dirty">* The two passwords have to match</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.maxlength">* The password can't be more than 100 characters</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.required && signUpForm.password_confirmation.$dirty">* The confirmation of your password is required</span>

		</div><!-- class col-xs-12 -->

	</div><!-- class row -->

	<div class="row">
		<!-- Birth Date -->
		<div class="col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.dob.$valid, 'has-error': signUpForm.dob.$invalid && signUpForm.dob.$dirty}">
			
			<label class="greyTxt2" for="dob"> Date of birth <span class="red"> * </span></label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
				<input class="form-control" aria-describedby="dobStatus" ng-model="user.dob" data-use-native="true" data-date-format="yyyy-MM-dd" data-min-date="01-01-1930" data-max-date="today" data-autoclose="1" name="dob" id="dob" bs-datepicker type="text" placeholder="Your date of birth..." required>
			</div><!-- class input-group -->
		</div><!-- class col-xs-12 -->
	</div><!-- class row -->

	<div class="row">
		<!-- Male/female -->
		<div class="col-xs-12 form-group text-center">

			<label class="pull-left greyTxt2" for="gender"> Gender <span class="red"> * </span></label>

			<div class="btn-group col-xs-12 paddingLeft paddingRight" role="group" aria-label="Male / Female">

				<input type="radio" name="checkbox" id="male" ng-model="user.gender" value="male" ng-required="!user.gender">
				<label class="btn btn-default genderBtn" for="male"> Male Looking </label>

				<input type="radio" name="checkbox" id="female" ng-model="user.gender" value="female" ng-required="!user.gender">
				<label class="btn btn-default genderBtn roundCorner" for="female"> Female Looking </label>

				<span class="validationError" ng-show="signUpForm.gender.$error.required">* You have to select a gender !</span>
				
			</div><!-- class btn-group col-xs-12 --> 

		</div><!-- class col-xs-12 -->
	</div><!-- class row -->

	<div class="row">
		<!-- Captcha input -->
		<div class="col-xs-12">

			<label class="greyTxt2" for="captcha"> Captcha <span class="red"> * </span></label>
			<!--<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-qrcode"></span>
				</span>
				<input type="text" class="form-control" ng-model="user.captcha" name="captcha" id="captcha" placeholder="Enter letters displayed"> 
			</div>class input-group -->
			<div captcha options="captchaOptions"></div>
			<button ng-click="isCaptchaValid()">test</button>
		</div><!-- class col-xs-12 -->
	</div><!-- class row -->

	<div class="row">
		<!-- Submit button -->
		<div class="col-xs-12">
			<button type="submit" class="btn center-block largeBtn pinkBtn"> Sign Up </button>
			<h6 class="greyTxt2 text-center"><em> By registering, you agree with our Terms and Conditions of use as well as our Privacy Policy </em></h6>
		</div><!-- class col-xs-12 -->
	</div><!-- class row -->
</form><!-- registerForm -->