<form name="signUpForm" novalidate role="register" ng-submit="signUpForm.$valid && register(user)">

	<div class="row">
		<!-- Username Input -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.username.$valid, 'has-error': signUpForm.username.$invalid && signUpForm.username.$dirty}"> 

			<label class="sr-only" for="username"> Username </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<i class="fa fa-user"></i>
				</span>
				<input type="text" class="form-control" ng-model="user.username" aria-describedby="usernameStatus" name="username" id="username" placeholder="Username" ng-minlength="2" ng-maxlength="60" required>
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.username.$valid" aria-hidden="true"></span>
			<span id="usernameStatus" class="sr-only"> (success) </span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.username.$invalid && signUpForm.username.$dirty" aria-hidden="true"></span>
			<span id="usernameStatus" class="sr-only"> (warning) </span>
			<span class="validationError" ng-show="signUpForm.username.$error.minlength"> * The username has to be a least 2 characters </span>
			<span class="validationError" ng-show="signUpForm.username.$error.maxlength"> * The username can't be more than 60 characters </span>
			<span class="validationError" ng-show="signUpForm.username.$error.required && signUpForm.username.$dirty"> *The username is required </span>

		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

		<!-- Email Input -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.email.$valid, 'has-error': signUpForm.email.$invalid && signUpForm.email.$dirty}">

			<label class="sr-only" for="email"> Email </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<i class="fa fa-envelope"></i>
				</span>
				<input type="email" class="form-control" ng-model="user.email" aria-describedby="emailStatus"  name="email" id="email" placeholder="Email" ng-maxlength="255" required email-check>
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.email.$valid" aria-hidden="true"></span>
			<span id="emailStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.email.$invalid && signUpForm.email.$dirty && !signUpForm.email.$pending.emailcheck" aria-hidden="true"></span>
			<span id="emailStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="signUpForm.email.$error.required && signUpForm.email.$dirty">* The email address is required</span>
			<span class="validationError" ng-show="signUpForm.email.$error.emailcheck && signUpForm.email.$dirty">* This email is already registered</span>
			<span class="form-control-feedback" ng-show="signUpForm.email.$pending.emailcheck"><i class="fa fa-circle-o-notch fa-spin"></i></span>

		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

		<!-- Password input-->						
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.password.$valid, 'has-error': signUpForm.password.$invalid && signUpForm.password.$dirty}">

			<label class="sr-only" for="password"> Password </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<input type="password" class="form-control" ng-model="user.password" aria-describedby="passwordStatus" name="password" id="password" placeholder="Password..." ng-minlength="8" ng-maxlength="100" required>
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.password.$valid" aria-hidden="true"></span>
			<span id="passwordStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.password.$invalid && signUpForm.password.$dirty" aria-hidden="true"></span>
			<span id="passwordStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="signUpForm.password.$error.minlength">* The password has to be a least 8 characters</span>
			<span class="validationError" ng-show="signUpForm.password.$error.maxlength">* The password can't be more than 100 characters</span>

		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

		<!-- Confirm input -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group has-feedback" ng-class="{'has-success': signUpForm.password_confirmation.$valid, 'has-error': signUpForm.password_confirmation.$invalid && signUpForm.password_confirmation.$dirty}">

			<label class="sr-only" for="password_confirmation"> Confirm </label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<input type="password" class="form-control" ng-model="user.password_confirmation" ria-describedby="password_confirmationStatus" name="password_confirmation" id="password_confirmation" placeholder="Confirm..." ng-minlength="8" ng-maxlength="100" required password-match="{{user.password}}">
			</div><!-- class input-group -->

			<!-- Errors -->
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signUpForm.password_confirmation.$valid" aria-hidden="true"></span>
			<span id="password_confirmationStatus" class="sr-only">(success)</span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signUpForm.password_confirmation.$invalid && signUpForm.password_confirmation.$dirty" aria-hidden="true"></span>
			<span id="password_confirmationStatus" class="sr-only">(warning)</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.minlength">* The password has to be a least 8 characters</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.passwordmatch && signUpForm.password_confirmation.$dirty">* The two passwords have to match</span>
			<span class="validationError" ng-show="signUpForm.password_confirmation.$error.maxlength">* The password can't be more than 100 characters</span>

		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

	</div><!-- class row -->

	<div class="row">
		<!-- Birth Date -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<label class="greyTxt2" for="dob"> Date of birth <span class="red"> * </span></label>
			
			<div class="input-group">

				<!-- Day -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group dobPaddings paddingLeft" ng-class="{'has-success': signUpForm.day.$valid, 'has-error': signUpForm.day.$invalid && signUpForm.day.$dirty}">

					<label class="sr-only" for="day"> Day </label>
					<input type="number" class="form-control" ng-model="user.day" aria-describedby="dayStatus" name="day" id="day" placeholder="DD" min="0" max="31" ng-maxlength="2" required>

					<!-- Errors -->
					<span class="form-control-feedback" ng-show="signUpForm.day.$valid"></span>
					<span id="dayStatus" class="sr-only">(success)</span>
					<span class="form-control-feedback" ng-show="signUpForm.day.$invalid && signUpForm.day.$dirty" aria-hidden="true"></span>
					<span id="dayStatus" class="sr-only">(warning)</span>

				</div><!-- class col-lg-4 col-md-4 col-sm-4 col-xs-4 -->

				<!-- Month -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group dobPaddings" ng-class="{'has-success': signUpForm.month.$valid, 'has-error': signUpForm.month.$invalid && signUpForm.month.$dirty}">

					<label class="sr-only" for="month"> Month </label>
					<input type="number" class="form-control" ng-model="user.month" aria-describedby="monthStatus" name="month" id="month" placeholder="MM" min="0" max="12" ng-maxlength="2" required>

					<!-- Errors -->
					<span class="form-control-feedback" ng-show="signUpForm.month.$valid"></span>
					<span id="monthStatus" class="sr-only">(success)</span>
					<span class="form-control-feedback" ng-show="signUpForm.month.$invalid && signUpForm.month.$dirty" aria-hidden="true"></span>
					<span id="monthStatus" class="sr-only">(warning)</span>

				</div><!-- class col-lg-4 col-md-4 col-sm-4 col-xs-4 -->

				<!-- Year -->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group dobPaddings paddingRight" ng-class="{'has-success': signUpForm.year.$valid, 'has-error': signUpForm.year.$invalid && signUpForm.year.$dirty}">

					<label class="sr-only" for="year"> Year </label>
					<input type="number" class="form-control" ng-model="user.year" aria-describedby="yearStatus" name="year" id="year" placeholder="YYYY" min="1930" max="1997" ng-maxlength="4" ng-minlength="4" required>

					<!-- Errors -->
					<span class="form-control-feedback" ng-show="signUpForm.year.$valid"></span>
					<span id="yearStatus" class="sr-only">(success)</span>
					<span class="form-control-feedback" ng-show="signUpForm.year.$invalid && signUpForm.year.$dirty" aria-hidden="true"></span>
					<span id="yearStatus" class="sr-only">(warning)</span>

				</div><!-- class col-lg-4 col-md-4 col-sm-4 col-xs-4 -->

				<!-- Day Messages Errors -->
				<span class="validationError" ng-show="signUpForm.day.$error.required && signUpForm.day.$dirty">* DD is required !</span>
				<span class="validationError" ng-show="signUpForm.day.$error.maxlength">* DD: max 2 digits !</span>
				<span class="validationError" ng-show="signUpForm.day.$error.min || signUpForm.day.$error.max">* DD: this day doesn't exist, sorry !</span>
				<!-- Month Messages Errors -->
				<span class="validationError" ng-show="signUpForm.month.$error.required && signUpForm.month.$dirty">* MM is required !</span>
				<span class="validationError" ng-show="signUpForm.month.$error.maxlength">* MM: max 2 digits !</span>
				<span class="validationError" ng-show="signUpForm.month.$error.min || signUpForm.month.$error.max">* MM: this month doesn't exist, sorry !</span>
				<!-- Year Messages Errors -->
				<span class="validationError" ng-show="signUpForm.year.$error.required && signUpForm.year.$dirty">* YYYY is required !</span>
				<span class="validationError" ng-show="signUpForm.year.$error.maxlength || signUpForm.year.$error.minlenght">* YYYY: only 4 digits !</span>
				<span class="validationError" ng-show="signUpForm.year.$error.min || signUpForm.year.$error.max">* YYYY: this year isn't allowed, sorry !</span>

			</div><!-- class input-group -->
		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
	</div><!-- class row -->

	<div class="row">
		<!-- Male/female -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center">

			<label class="pull-left greyTxt2" for="gender"> Gender <span class="red"> * </span></label>

			<div class="btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeft paddingRight" role="group" aria-label="Male / Female">

				<input type="radio" name="checkbox" id="male" ng-model="user.gender" value="male" ng-required="!user.gender">
				<label class="btn btn-default genderBtn" for="male"> Male </label>

				<input type="radio" name="checkbox" id="female" ng-model="user.gender" value="female" ng-required="!user.gender">
				<label class="btn btn-default genderBtn roundCorner" for="female"> Female </label>

				<span class="validationError" ng-show="signUpForm.gender.$error.required">* You have to select a gender !</span>
				
			</div><!-- class btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12 --> 

		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
	</div><!-- class row -->

	<div class="row">
		<!-- Captcha input -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<label class="greyTxt2" for="captcha"> Captcha <span class="red"> * </span></label>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="red">*</span>
					<span class="glyphicon glyphicon-qrcode"></span>
				</span>
				<input type="text" class="form-control" ng-model="user.captcha" name="captcha" id="captcha" placeholder="Enter letters displayed"> 
			</div><!-- class input-group -->
		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
	</div><!-- class row -->

	<div class="row">
		<!-- Submit button -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<button type="submit" class="btn center-block largeBtn pinkBtn"> Sign Up </button>
			<h6 class="greyTxt2 text-center"><em> By registering, you agree with the Term and Conditions and Privacy Policy </em></h6>
		</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
	</div><!-- class row -->
</form><!-- registerForm -->