<div class="row" ng-controller="RegistrarCtrl">

	<div class="container-fluid" ng-hide="loading || submitted">
		<div class="whiteTxt pinkBG1 headerContainer">
			<h1> CREATE AN ACCOUNT </h1>
			<p><em> Meet people championed by their family and friends </em></p>
		</div><!-- class whiteTxt pinkBG -->
	</div><!-- class container-fluid -->

	<div class="container-fluid" ng-show="submitted">
		<div class="whiteTxt pinkBG1 headerContainer">
			<h1> CHECK YOUR MAILBOX ! </h1>
			<p><em> We sent you an email with a link to activate your account ! </em></p>
		</div><!-- whiteTxt pinkBG -->
	</div><!-- class container-fluid pinkBG -->

	<div class="container-fluid contentBlock" ng-class="{whiteBG: typeDevice === 'mobile'}" ng-hide="loading || submitted">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
				<img class="img-responsive" src="img/mobileVersion.png" alt="Mobile Version">
			</div><!-- class col-lg-2 col-md-2 hidden-xs hidden-sm -->
			<div class="col-lg-6 col-md-6 col-sm-7 whyUs hidden-xs">
				<h2 class="pinkTxt"> WHY US ? </h2>
				<ul class="nav nav-pills">
					<li>
						<table>
							<td class="iconCell pinkIcon"><i class="fa fa-check-circle-o fa-2x"></i></td>
							<td class="txtCell"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. </p></td>
						</table>
					</li>
					<li>
						<table>
							<td class="iconCell pinkIcon"><i class="fa fa-check-circle-o fa-2x"></i></td>
							<td class="txtCell"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. </p></td>
						</table>
					</li>
					<li>
						<table>
							<td class="iconCell pinkIcon"><i class="fa fa-check-circle-o fa-2x"></i></td>
							<td class="txtCell"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. </p></td>
						</table>
					</li>
				</ul><!-- class nav nav-pills -->
				<button class="btn btn-default center-block mobileBtn greenBG whiteTxt" role="navigation"> Mobile Version </button>
			</div><!-- class col-lg-6 col-md-6 col-sm-7 whyUs hidden-xs-->
			<div ng-include="'partials/registrationForm.html'" ng-class="{Form: typeDevice === 'noMobile', FormTablet: sizeDevice === 'tablet', RegiTablet: sizeDevice === 'tablet', FormMedium: sizeDevice === 'medium', FormLarge: sizeDevice === 'large', whiteBG: typeDevice === 'noMobile'}" ></div>
		</div><!-- class col-lg-12 col-md-12 col-sm-12 -->
	</div><!-- class container-fluid contentBlock -->
	<div class="col-xs-12 text-center loadingLogoContainer" ng-show="loading && !submitted">
		<i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
	</div><!-- class col-xs-12 -->
</div><!-- class row -->