
<!DOCTYPE html>

<meta charset="utf-8">

<title>Dropzone simple example</title>


<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<link rel="stylesheet" href="../components/dropzone/dropzone.css">
<script src="../components/dropzone/dropzone.js"></script>
<script src="../js/JIC.js"></script>

<script type="text/javascript">
console.log(getCookie('XSRF-TOKEN'));
	Dropzone.options.zone = {
		url: '/api/public/user/file',
		paramName: 'file',
		uploadMultiple: true,
		headers: {
			'X-XSRF-TOKEN': getCookie('XSRF-TOKEN'),
			name: 'photo_34',
			path: '/app/imgDrop/photos/'
		},
		init: function() {
			this.on("addedfile", function(file) { 
				console.log(file.size);
			});

			this.on('sending', function (file, xhr, formData) {

			});
		}
	};

	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1);
			if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
		}
		return "";
	} 

</script>
<p>
	This is the most minimal example of Dropzone. The upload in this example
	doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->
<form action="/upload-target" class="dropzone" id="zone"></form>