<div class="container-fluid">
	<div class="pinkBG1 headerContainer">

		<div class="container pinkBG2 carouselContainer">
			<div class="col-lg-11 col-md-11">
				<ul class="list-inline">
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil1.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil2.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil3.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil4.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil5.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil6.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil7.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil8.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil9.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil10.png"></li>
					<li><img class="img-responsive carouselPicture" src="img/Profils/profil10.png"></li>
				</ul><!-- class list-inline -->
			</div><!-- class col-lg-11 col-md-11 -->

			<div class="col-lg-1 col-md-1 carouselArrowContainer">
				<div class="carouselArrow greyBG3 greyTxt3 text-center">
					<i class="fa fa-caret-right fa-4x"></i>
				</div><!-- class carouselArrow greyBG3 greyTxt3 text-center -->
			</div><!-- class col-lg-1 col-md-1 carouselArrowContainer -->

		</div><!-- class container-fluid pinkBG2 carouselContainer -->

	</div><!-- class pinkBG1 headerContainer -->
</div><!-- class container-fluid -->

<div class="container profilContainer">
	<div class="row">

		<!-- Informations panel -->
		<div class="col-lg-3 col-md-4">
			<div class="panel panel-default sidePanel text-center">

				<!-- Profil picture -->
				<div class="row"> 
					<form class="dropzone" id="profilZone" dropzone="profilDropzoneConfig">
						<img class="profilImg dz-default dz-message" ng-show="currentProfil.profil_path" ng-src="{{currentProfil.profil_path}}"/>
						<span class="dz-default dz-message" ng-hide="currentProfil.profil_path"> Drop your picture here ! </span>
					</form>
					<h6 class="text-info" ng-show="currentProfil.profil_path"><em> * Click to Edit it! </em></h6>
				</div><!-- class row -->

				<!-- Name , Age -->
				<div class="row">
					<h3> {{currentProfil.username | capitalize}}, {{currentProfil.dob | age}} </h3>
				</div><!-- class row -->

				<!-- Popularity -->
				<div class="row">

					<!-- Progress Bar -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
					</div><!-- class progress -->

					<div class="row">

						<div class="col-lg-1 col-md-1 iconContainer">
							<i class="fa fa-heart-o"></i>
						</div><!-- class col-lg-1 col-md-1 iconContainer -->

						<div class="col-lg-10 col-md-10">			
							<p> Your Popularity : <strong class="pinkTxt"> LOW </strong></p>
						</div><!-- class col-lg-10 col-md-10 -->

						<div class="col-lg-1 col-md-1 iconContainer">
							<i class="fa fa-heart pinkIcon"></i>
						</div><!-- class col-lg-1 col-md-1 iconContainer -->

					</div><!-- class row -->

				</div><!-- class row -->

				<!-- Increase your popularity Button -->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<a class="btn pinkBtn popularityBtn center-block btnShadow"> Increase Your Popularity </a>
					</div><!-- class col-lg-12 col-md-12 -->
				</div><!-- class row -->

				<!-- List of links -->
				<div class="row">
					<div class="col-lg-12 col-md-12 linkList">
						<ul class="list-unstyled fa-ul text-left">
							<li class="greyTxt1"><i class="fa-li fa fa-eye"></i><a class="greyTxt1"> Profile visitors </a></li>
							<li class="greyTxt1"><i class="fa-li fa fa-thumbs-up"></i><a class="greyTxt1"> Liked You <span class="badge pinkBG1"> 2 </span></a></li>
							<li class="greyTxt1"><i class="fa-li fa fa-heart"></i><a class="greyTxt1"> Favorites </a></li>
							<li class="greyTxt1" ng-click="setClass('comments'); displayWingNotes()"><a class="greyTxt1"><i class="fa-li fa fa-comments"></i> Comments <span class="badge pinkBG1"> 5 </span></a></li>
							<li class="greyTxt1"><i class="fa-li fa fa-lock"></i><a class="greyTxt1"> Blocked </a></li>
							<li class="greyTxt1" ng-click="setClass('settings')"><i class="fa-li fa fa-gear"></i><a class="greyTxt1"> Settings </a></li>
						</ul><!-- class list-unstyled fa-ul text-left -->
					</div><!-- class col-lg-12 col-md-12 linkList -->
				</div><!-- class row -->

			</div><!-- class panel panel-default sidePanel text-center -->

			<div class="panel panel-default sidePanel text-center">
				<div class="row">
					<h5 class="text-center greyTxt2"> Send an invitation to a friend ! </h5>
					<h6 class="text-center greyTxt2"> Just enter his email address. </h6>
					<form novalidate name="invitationForm" ng-submit="invitationForm.$valid && sendInvitation(invite)">
						<div class="col-lg-12 col-md-12 form-group has-feedback" ng-class="{'has-success': invitationForm.email.$valid, 'has-error': invitationForm.email.$invalid && invitationForm.email.$dirty}">
							<label class="sr-only" for="email"> Email </label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope"></i>
								</span>
								<input type="email" class="form-control" ng-model="invite.email" aria-describedby="emailStatus"  name="email" id="email" placeholder="Email" ng-maxlength="255" required email-check email-invitation-check>
							</div><!-- class input-group -->

							<!-- Errors -->
							<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="invitationForm.email.$valid" aria-hidden="true"></span>
							<span id="emailStatus" class="sr-only">(success)</span>
							<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="invitationForm.email.$invalid && invitationForm.email.$dirty && !invitationForm.email.$pending.emailcheck" aria-hidden="true"></span>
							<span id="emailStatus" class="sr-only">(warning)</span>
							<span class="validationError" ng-show="invitationForm.email.$error.required && invitationForm.email.$dirty">* The email address is required</span>
							<span class="validationError" ng-show="invitationForm.email.$error.emailcheck && invitationForm.email.$dirty">* This email is already registered</span>
							<span class="validationError" ng-show="invitationForm.email.$error.emailinvitationcheck && invitationForm.email.$dirty">* An invitation was already sent to this email</span>
							<span class="form-control-feedback" ng-show="invitationForm.email.$pending.emailcheck"><i class="fa fa-circle-o-notch fa-spin"></i></span>

						</div><!-- class col-lg-12 col-md-12 form-group has-feedback -->

						<button type="submit" class="btn btnShadow greyBtn"><small> Send invitation </small></button>
					</form><!-- invitationForm -->
				</div><!-- class row -->
			</div><!-- class panel panel-default sidePanel text-center -->
		</div><!-- class col-lg-3 col-md-4 -->


		<!-- Middle Panel -->
		<div class="col-lg-9 col-md-8">
			<div class="panel panel-default middlePanel" ng-controller="MapCtrl">

				<!-- Header Section -->
				<div class="row">

					<div class="col-lg-4 col-md-5">
						<h2 class="pinkTxt">
							<i ng-show="activeTab === 'profil'" class="fa fa-heart"></i>
							<i ng-show="activeTab === 'photos'" class="fa fa-camera"></i>
							<i ng-show="activeTab === 'settings'" class="fa fa-gear fa-lg"></i>
							<i ng-show="activeTab === 'update'" class="fa fa-pencil"></i>
							<i ng-show="activeTab === 'comments'" class="fa fa-comments-o"></i>
							{{activeTab | capitalize}}
							<span ng-click="setClass('update');" ng-show="activeTab === 'profil'" class="glyphicon glyphicon-pencil greyTxt4 smallIcon"></span>
						</h2><!-- class pinkTxt -->
					</div><!-- class col-lg-4 col-md-4 -->

					<div class="col-lg-8 col-md-7 text-right">
						<a class="btn btn-link pinkTxt closeUpdatePanel" type="button" ng-show="activeTab === 'update'"><span ng-click="setClass('profil');freeUpdateList();" class="glyphicon glyphicon-remove"></span></a>
						<a class="btn sectionBtn btnShadow" ng-hide="activeTab === 'update'" ng-click="setClass('profil')" ng-class="getClass('profil')"><i class="fa fa-user"></i><small> Profile </small></a>
						<a class="btn sectionBtn btnShadow" ng-hide="activeTab === 'update'" ng-click="setClass('photos')" ng-class="getClass('photos')"><i class="fa fa-picture-o"></i><small> Photos </small></a>
					</div><!-- class col-lg-8 col-md-8 text-right -->
				</div><!-- class row -->

				<!-- Profil Section -->
				<div class="row" ng-show="activeTab === 'profil'">

					<!-- Numeric informations -->
					<div class="row" style="padding-top: 3%;">
						<div class="col-lg-3 col-md-3">
							<p><i class="fa fa-child fa-lg"></i><strong> 8 </strong> Friends </p>
						</div><!-- class col-lg-3 col-md-3 -->
						<div class="col-lg-3 col-md-3">
							<p><i class="fa fa-info-circle fa-lg"></i><strong> 5 </strong> Interests </p>
						</div><!-- class col-lg-3 col-md-3 -->
						<div class="col-lg-4 col-md-6">
							<p><i class="fa fa-user-plus fa-lg"></i><strong> 18 </strong> Angel Recommended </p>
						</div><!-- class col-lg-4 col-md-6 -->
					</div><!-- class row -->

					<div class="row">

						<div class="col-lg-5 col-md-5 noPaddings">

							<div class="row thinBorders">

								<div class="col-lg-7 col-md-12">
									<h5 class="text-left greyTxt2"> Location : <span class="pinkTxt"> {{currentProfil.location}} </span></h5>
								</div><!-- class col-lg-7 col-md-12 -->

								<div class="col-lg-5 col-md-12 text-center">
									<a class="btn btn-link" ng-click="hideMap = !hideMap"><i class="fa fa-map-marker"></i> Hide Map </a>
								</div><!-- class col-lg-5 col-md-12 text-right -->

							</div><!-- class row thinBorders -->

							<div class="row thinBorders">
								<div class="col-lg-12 col-md-12 centerMap noPaddings" ng-hide="hideMap">
									<div id="map-canvas" ng-hide="loading"></div>
									<div ng-show="loading">
										<i class="fa fa-cog fa-spin fa-4x"></i>
										<div> Locating ... </div>
									</div>
								</div><!-- class col-lg-12 col-md-12 centerMap noPaddings -->
							</div><!-- class row thinBorders -->

						</div><!-- class col-lg-5 col-md-5 noPaddings -->

						<div class="col-lg-7 col-md-7 thinBorders">

							<div class="row">

								<!-- Profile Scores -->
								<div class="col-lg-6 col-md-12 thinBorders centerContent">

									<div class="row">
										<h5 class="text-left pinkTxt">  Profile Scores : <span class="badge pinkBG1"> 9 </span></h5>
									</div><!-- class row -->

									<div class="row">

										<div class="col-lg-4 col-md-2 noPaddings">
											<img class="img-responsive" src="img/scores.png" alt="sideImg">
										</div><!-- class col-lg-4 col-md-2 noPaddings -->

										<div class="col-lg-8 col-md-10 noPaddings">
											<p class="text-left">
												Add 3 photos showing only you and find out how many likes people like you.
											</p>
											<a class="btn btnShadow greyBtn"><small> Add Photos </small></a>
										</div><!-- class col-lg-8 col-md-10 noPaddings -->

									</div><!-- class row -->

								</div><!-- class col-lg-6 col-md-12 thinBorders centerContent-->

								<!-- Your References -->
								<div class="col-lg-6 col-md-12 centerContent">

									<div class="row">
										<h5 class="text-left pinkTxt">  Your References </h5>
									</div><!-- class row -->

									<div class="row">

										<div class="col-lg-4 col-md-2 noPaddings">
											<img class="img-responsive" src="img/references.png" alt="sideImg">
										</div><!-- class col-lg-4 col-md-2 noPaddings -->

										<div class="col-lg-8 col-md-10 noPaddings">
											<p class="text-left">
												You don't have award yet. Find out how to get them.
											</p>
											<a class="btn btnShadow greyBtn"><small> Get Award </small></a>
										</div><!-- class col-lg-8 col-md-10 noPaddings -->

									</div><!-- class row -->

								</div><!-- class col-lg-6 col-md-12 centerContent -->

							</div><!-- class row -->

							<div class="row">

								<div class="col-lg-12 col-md-12 thinBorders centerContent">
									<h5 class="text-left pinkTxt"> Recommended by <span class="badge pinkBG1"> 8 </span></h5>
								</div><!-- class col-lg-12 col-md-12 thinBorders centerContent -->

							</div><!-- class row -->

						</div><!-- class col-lg-7 col-md-7 thinBorders -->
					</div><!-- class row -->
				</div><!-- class row -->

				<!-- Update Section -->
				<div class="row" ng-show="activeTab === 'update'">
					<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

						<div class="btn-group btn-group-justified updateBtnGroup" role="group" aria-label="">

							<a type="button" class="btn btn-default" ng-click="selected1 = !selected1; selected2 = false; freeUpdateList()" ng-class="{pinkBtn : selected1}"> Profile Settings </a>

							<a type="button" class="btn btn-default" ng-click="selected2 = !selected2; selected1 = false; freeUpdateList()" ng-class="{pinkBtn : selected2}"> Physical Settings </a>

						</div><!-- class btn-group -->

						<div class="well whiteBG" ng-show="selected1">

							<form name="updateForm" novalidate role="update" ng-submit="updateForm.$valid && updateProfil()">


								<!-- Username Input Update -->
								<div class="row form-group has-feedback" ng-class="{'has-success': updateForm.username.$valid, 'has-error': updateForm.username.$invalid && updateForm.username.$dirty}"> 

									<label class="greyTxt2" for="username"> Username </label>

									<input type="text" class="form-control" ng-model="profil.username" aria-describedby="usernameStatus"placeholder="Username" name="username" ng-minlength="2" ng-maxlength="60" ng-change="addToList({username: profil.username})">

									<!-- Errors -->
									<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updateForm.username.$valid" aria-hidden="true"></span>
									<span id="usernameStatus" class="sr-only"> (success) </span>
									<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updateForm.username.$invalid && updateForm.username.$dirty" aria-hidden="true"></span>
									<span id="usernameStatus" class="sr-only"> (warning) </span>
									<span class="validationError" ng-show="updateForm.username.$error.minlength"> * The username has to be a least 2 characters </span>
									<span class="validationError" ng-show="updateForm.username.$error.maxlength"> * The username can't be more than 60 characters </span>
								</div><!-- class row form-group has-feedback -->

								<hr>


								<!-- Location Input Update -->
								<div class="row has-feedback" ng-class="{'has-success': updateForm.location.$valid, 'has-error': updateForm.location.$invalid && updateForm.location.$dirty}">

									<label class="greyTxt2" for="location"> Your Location </label>
									<input ng-model="profil.location" name="location" id="location" class="form-control" type="text" placeholder="Your location..." aria-describedby="locationStatus" geocode-check ng-change="addToList({location: profil.location})" data-animation="am-flip-x" bs-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" bs-typeahead model-update/>

									<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updateForm.location.$valid" aria-hidden="true"></span>
									<span id="locationStatus" class="sr-only"> (success) </span>
									<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updateForm.location.$invalid && updateForm.location.$dirty" aria-hidden="true"></span>
									<span id="locationStatus" class="sr-only"> (warning) </span>
									<span class="form-control-feedback" ng-show="updateForm.location.$pending.geocodecheck"><i class="fa fa-circle-o-notch fa-spin"></i></span>
									<span class="validationError" ng-show="updateForm.location.$error.geocodecheck"> * The location is invalid </span>

									<a href="" class="btn geoBtn greenBG whiteTxt center-block" ng-click="geolocate()"><i class="fa fa-map-marker fa-lg"></i> Geolocate Me ! </a>

									<p class="mapMessage text-center" ng-show="loading"><i class="fa fa-cog fa-spin"></i> Locating... </p>
								</div><!-- class row form-group has-feedback -->

								<hr>


								<!-- Why Here Input Update -->
								<div class="row form-group has-feedback" ng-class="{'has-success': updateForm.whyHere.$valid, 'has-error': updateForm.whyHere.$invalid && updateForm.whyHere.$dirty}"> 

									<label class="greyTxt2" for="whyHere"> I'm here to </label>

									<textarea class="form-control" ng-model="profil.whyHere" rows="5" placeholder="Tell us why are you here ?" ng-change="addToList({whyHere: profil.whyHere})" name="whyHere" ng-maxlength="1000"></textarea>

									<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updateForm.whyHere.$valid" aria-hidden="true"></span>
									<span id="whyHereStatus" class="sr-only"> (success) </span>
									<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updateForm.whyHere.$invalid && updateForm.whyHere.$dirty" aria-hidden="true"></span>
									<span id="whyHereStatus" class="sr-only"> (warning) </span>
									<span class="validationError" ng-show="updateForm.whyHere.$error.maxlength"> * The text is too long (1000 carac. max) </span>
								</div><!-- class row form-group has-feedback -->

								<hr>


								<!-- About Me Input Update -->
								<div class="row form-group has-feedback" ng-class="{'has-success': updateForm.aboutMe.$valid, 'has-error': updateForm.aboutMe.$invalid && updateForm.aboutMe.$dirty}">

									<label class="greyTxt2" for="aboutMe"> About Me </label>

									<textarea class="form-control" name="aboutMe" ng-model="profil.aboutMe" rows="5" placeholder="Tell us more about you..." ng-change="addToList({aboutMe: profil.aboutMe})" ng-maxlength="2000"></textarea>

									<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updateForm.aboutMe.$valid" aria-hidden="true"></span>
									<span id="aboutMeStatus" class="sr-only"> (success) </span>
									<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updateForm.aboutMe.$invalid && updateForm.aboutMe.$dirty" aria-hidden="true"></span>
									<span id="aboutMeStatus" class="sr-only"> (warning) </span>
									<span class="validationError" ng-show="updateForm.aboutMe.$error.maxlength"> * The text is too long (2000 carac. max) </span>
								</div><!-- class row form-group has-feedback -->

								<hr>


								<!-- Save Changes for Update Form -->
								<div class="row">
									<button type="submit" class="btn pinkBtn largeBtn sectionBtn center-block"><i class="fa fa-check fa-lg"></i> Save Changes </button>
								</div><!-- class row -->

							</form><!-- End updateForm -->
						</div><!-- class well whiteBG -->

						<div class="well whiteBG" ng-show="selected2">
							<form name="updatePhysicalForm" novalidate role="update" ng-submit="updateProfil(profil)">

								<!-- Height Input Update -->
								<div class="row form-group" ng-class="{'has-success': updatePhysicalForm.height.$valid, 'has-error': updatePhysicalForm.height.$invalid && updatePhysicalForm.height.$dirty}" name="height"> 

									<label class="greyTxt2" for="height"> Height </label>

									<div class="input-group">
										<input type="number" string-to-number class="form-control" ng-model="profil.height" aria-describedby="heightStatus" placeholder="Your Height..." min="120" max="220" ng-maxlength="3" ng-minlength="3" ng-change="addToList({height: profil.height})" name="height" id="height">
										<span class="input-group-addon">
											<span> cm </span>
										</span>
									</div><!-- class input-group -->

									<!-- Errors -->
									<span class="validationError" ng-show="updatePhysicalForm.height.$error.maxlength || updatePhysicalForm.height.$error.minlength"> * Your height has to be in centimeters (3 digits). </span>
									<span class="validationError" ng-show="updatePhysicalForm.height.$error.max || updatePhysicalForm.height.$error.min"> * Your height has to be between 120 and 220 cm. </span>
								</div><!-- class row form-group has-feedback -->

								<hr>

								<div class="row">
									<label class="greyTxt2" for="skin"> Skin Color </label>
									<select ng-model="profil.skin" class="form-control" ng-change="addToList({skin: profil.skin})">
										<option value="" disabled="disable"> What is your skin color ? </option>
										<option value="black"> Black </option>
										<option value="asian"> Asian </option>
										<option value="white"> White </option>
										<option value="mixed"> Mixed </option>
									</select>
								</div><!-- class row -->

								<hr>

								<div class="row">
									<label class="greyTxt2" for="eyes"> Eyes Color </label>
									<select ng-model="profil.eyes" class="form-control" ng-change="addToList({eyes: profil.eyes})">
										<option value="" disabled="disable"> What is your eyes color ? </option>
										<option value="black"> Black </option>
										<option value="brown"> Brown </option>
										<option value="blue"> Blue </option>
										<option value="green"> Green </option>
									</select>
								</div><!-- class row -->

								<hr>

								<div class="row">
									<label class="greyTxt2" for="hair"> Hair Color </label>
									<select ng-model="profil.hair" class="form-control" ng-change="addToList({hair: profil.hair})">
										<option value="" disabled="disable"> What is your hair color ? </option>
										<option value="black"> Black </option>
										<option value="brown"> Brown </option>
										<option value="red"> Red </option>
										<option value="blond"> Blond </option>
									</select>
								</div><!-- class row -->

								<hr>

								<div class="row form-group" ng-class="{'has-success': updatePhysicalForm.weight.$valid, 'has-error': updatePhysicalForm.weight.$invalid && updatePhysicalForm.weight.$dirty}"> 

									<label class="greyTxt2" for="weight"> Weight </label>

									<div class="input-group">
										<input type="number" string-to-number class="form-control" ng-model="profil.weight" aria-describedby="weightStatus" placeholder="Your Weight..." min="30" max="120" ng-maxlength="3" ng-minlength="2" name="weight" ng-change="addToList({weight: profil.weight})">
										<span class="input-group-addon">
											<span> kg </span>
										</span>
									</div><!-- class input-group -->

									<!-- Errors -->
									<span class="validationError" ng-show="updatePhysicalForm.weight.$error.maxlength || updatePhysicalForm.weight.$error.minlength"> * Your weight has to be in kilograms (2 or 3 digits). </span>
									<span class="validationError" ng-show="updatePhysicalForm.weight.$error.max || updatePhysicalForm.weight.$error.min"> * Your weight has to be between 30 and 120 kilograms. </span>
								</div><!-- class row -->

								<hr>

								<div class="row">
									<button type="submit" class="btn pinkBtn largeBtn sectionBtn center-block"><i class="fa fa-check fa-lg"></i> Save Changes </button>
								</div><!-- class row -->

							</form>
						</div><!-- class well whiteBG -->

					</div><!-- class col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 -->
				</div><!-- class row -->

				<!-- Photos Section -->
				<div class="row" ng-show="activeTab === 'photos'" ng-init="displayPhotos()">

					<form class="dropzone" id="photoZone" dropzone="photosDropzoneConfig"></form>

					<div id="links" class="photos-display">
						<a ng-repeat="photo in photos track by photo.id" href="{{photo.path}}" title="{{photo.description}}" alt="{{photo.id}}" data-gallery>
							<img ng-src="{{photo.thumbnail_path}}" alt="{{photo.id}}">
						</a>
					</div><!-- class photo-display -->
				</div><!-- class row -->

				<!-- Settings Section -->
				<div class="row" ng-show="activeTab === 'settings'">

					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
							<div ng-if="activeTab === 'settings'" ng-include="'partials/update-password.html'"></div>
						</div><!-- class col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 -->
					</div><!-- class row -->

					<hr>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<button type="button" class="btn btn-danger center-block" data-toggle="modal" data-target="#deleteAccountModal"> Delete Your Account </button>
						</div><!-- class col-lg-12 col-md-12 -->
					</div><!-- class row -->
				</div><!-- class row -->

				<!-- Comments Section -->
				<div class="row" ng-show="activeTab === 'comments'">
					<hr>
					<div class="col-lg-12" ng-repeat="wingNote in wingNotes track by wingNote.id">
						<div class="col-lg-11">
							<div class="media">
								<div class="pull-left media-middle commentsContainer">
									<a ng-href="#/user/{{wingNote.emitter_id}}">
										<img class="commentPicture media-object" src="{{wingNote.profil.profil_path}}">
									</a>
								</div><!-- class pull-left media-middle -->
								<div class="media-body">
									<h4 class="media-heading"> {{wingNote.profil.username}} </h4>
									{{wingNote.text}}
								</div><!-- class media-body -->
							</div><!-- class media -->
						</div><!-- class col-lg-11 -->
						<div class="col-lg-1">
							<a class="btn btn-link pinkTxt pull-right" type="button" ng-click="openDeleteWingNote(wingNote)"><span class="glyphicon glyphicon-remove"></span></a>
						</div><!-- class col-lg-1 -->
					</div><!-- class col-lg-12 -->
				</div><!-- class row -->

			</div><!-- class panel panel-default middlePanel -->
		</div><!-- class col-lg-9 col-md-8 -->

	</div><!-- class row -->
</div><!-- class container profilContainer -->