<div class="container-fluid" ng-controller="ProfilCtrl">

	<div class="container-fluid">
		<div class="pinkBG1 headerContainer">

			<div class="container pinkBG2 carouselContainer">
				<div class="col-lg-11">
					<ul class="list-inline">
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil1.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil2.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil3.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil4.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil5.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil6.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil7.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil8.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil9.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil10.png"></li>
						<li><img class="img-responsive carouselPicture" src="img/Profils/profil10.png"></li>
					</ul><!-- class list-inline -->
				</div><!-- class col-lg-11 -->

				<div class="col-lg-1 carouselArrowContainer">
					<div class="carouselArrow greyBG3 greyTxt3 text-center">
						<i class="fa fa-caret-right fa-4x"></i>
					</div><!-- class carouselArrow greyBG3 greyTxt3 text-center -->
				</div><!-- class col-lg-1 carouselArrowContainer -->
			</div><!-- class container-fluid pinkBG2 carouselContainer -->

		</div><!-- class pinkBG1 headerContainer -->
	</div><!-- class container-fluid -->

	<div class="container profilContainer">
		<div class="row">

			<!-- Informations panel -->
			<div class="col-lg-3">
				<div class="panel panel-default sidePanel text-center">
					
					<!-- Profil picture -->
					<div class="row"> 
						<form class="dropzone" id="profilZone" dropzone="profilDropzoneConfig">
							<img class="profilImg dz-default dz-message" ng-show="currentProfil.profil_path" ng-src="{{currentProfil.profil_path}}"/>
							<span class="dz-default dz-message" ng-hide="currentProfil.profil_path"> Drop your picture here ! </span>
						</form>
						<h6 class="text-info" ng-show="currentProfil.profil_path"><em> * Click to Edit it! </em></h6>
					</div><!-- class drop-box -->

					<!-- Name , Age -->
					<div class="row">
						<p class="lead"> {{currentProfil.username | capitalize}}, {{currentProfil.age}} </p>
					</div><!-- class row -->

					<!-- Popularity -->
					<div class="row">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							</div><!-- class progress-bar -->
						</div><!-- class progress -->

						<div class="row">
							<div class="col-lg-1 iconContainer">
								<i class="fa fa-heart-o"></i>
							</div>
							<div class="col-lg-10">			
								<p> Your Popularity : <strong class="pinkTxt"> LOW </strong></p>
							</div>
							<div class="col-lg-1 iconContainer">
								<i class="fa fa-heart pinkIcon"></i>
							</div>
						</div>
					</div><!-- class row -->

					<!-- Increase your popularity Button -->
					<div class="row">
						<div class="col-lg-12">
							<a class="btn pinkBtn popularityBtn center-block"> Increase Your Popularity </a>
						</div><!-- class col-lg-12 -->
					</div><!-- class row -->

					<!-- List of links -->
					<div class="row">
						<div class="col-lg-12 linkList">
							<ul class="list-unstyled fa-ul text-left">
								<li class="greyTxt1"><i class="fa-li fa fa-eye"></i><a class="greyTxt1"> Profil visitors </a></li>
								<li class="greyTxt1"><i class="fa-li fa fa-thumbs-up"></i><a class="greyTxt1"> Liked You <span class="badge pinkBG1"> 2 </span></a></li>
								<li class="greyTxt1"><i class="fa-li fa fa-heart"></i><a class="greyTxt1"> Favorites </a></li>
								<li class="greyTxt1"><i class="fa-li fa fa-comments"></i><a class="greyTxt1"> Comments <span class="badge pinkBG1"> 5 </span></a></li>
								<li class="greyTxt1"><i class="fa-li fa fa-lock"></i><a class="greyTxt1"> Blocked </a></li>
								<li class="greyTxt1" ng-click="setClass('settings')"><i class="fa-li fa fa-gear"></i><a class="greyTxt1"> Settings </a></li>
							</ul><!-- class list-unstyled fa-ul text-left -->
						</div><!-- class col-lg-10 col-lg-offset-2 -->
					</div><!-- class row -->

				</div><!-- class panel panel-default -->
			</div><!-- class col-lg-3 -->

			<div class="col-lg-9">
				<div class="panel panel-default middlePanel" ng-controller="MapCtrl">

					<div class="row">

						<div class="col-lg-4">
							<h2 class="pinkTxt">
								<i ng-show="activeTab === 'profil'" class="fa fa-heart"></i>
								<i ng-show="activeTab === 'photos'" class="fa fa-camera"></i>
								<i ng-show="activeTab === 'settings'" class="fa fa-gear fa-lg"></i>
								<i ng-show="activeTab === 'update'" class="fa fa-pencil"></i>
								{{activeTab | capitalize}}
								<span ng-click="setClass('update');" ng-show="activeTab === 'profil'" class="glyphicon glyphicon-pencil greyTxt4 smallIcon"></span>
							</h2><!-- class pinkTxt -->
						</div><!-- class col-lg-4 -->

						<div class="col-lg-4 col-lg-offset-4 text-right">
							<a class="btn sectionBtn" ng-click="setClass('profil')" ng-class="getClass('profil')"><i class="fa fa-user"></i> Profil </a>
							<a class="btn sectionBtn" ng-click="setClass('photos')" ng-class="getClass('photos')"><i class="fa fa-picture-o"></i> Photos </a>
						</div><!-- class col-lg-4 col-lg-offset-4 text-right -->

					</div><!-- class row -->


					<!-- Profil Section -->
					<div class="row" ng-show="activeTab === 'profil'">

						<!-- Numeric informations -->
						<div class="row">
							<div class="col-lg-2">
								<p><i class="fa fa-child fa-lg"></i><strong> 8 </strong> Friends </p>
							</div><!-- class col-lg-2 -->
							<div class="col-lg-2">
								<p><i class="fa fa-info-circle fa-lg"></i><strong> 5 </strong> Interests </p>
							</div><!-- class col-lg-2 -->
							<div class="col-lg-4">
								<p><i class="fa fa-user-plus fa-lg"></i><strong> 18 </strong> Angel Recommended </p>
							</div><!-- class col-lg-4 -->
						</div><!-- class row -->

						<!-- Location, Profil Score, References -->
						<div class="row">

							<div class="col-lg-5 thinBorders">

								<div class="col-lg-6">
									<h5 class="text-left greyTxt2"> Location : <span class="pinkTxt"> {{ user.location }}</span></h5>
								</div><!-- class col-lg-6 -->

								<div class="col-lg-6 text-right">
									<a class="btn btn-link" ng-click="hideMap = !hideMap"><i class="fa fa-map-marker"></i> Hide Map </a>
								</div><!-- class col-lg-6 -->

							</div><!-- class col-lg-5 -->

							<div class="col-lg-4 thinBorders">
								<h5 class="text-left pinkTxt"> Profil score : <span class="badge pinkBG1"> 9 </span></h5>
							</div><!-- class col-lg-4 thinBorders -->

							<div class="col-lg-3 thinBorders">
								<h5 class="text-left pinkTxt"> Your References </h5>
							</div><!-- class col-lg-3 thinBorders -->

						</div><!-- class row -->

						<div class="row">

							<div class="col-lg-5" ng-hide="hideMap">
								<div id="map-canvas" ng-hide="loading"></div>
								<div ng-show="loading">
									<i class="fa fa-cog fa-spin fa-4x"></i>
									<div> Locating ... </div>
								</div>
							</div><!-- class col-lg-5 -->

							<div class="col-lg-7 thinBorders" style="padding:0;">
								<div class="row">
									<div class="col-lg-7 thinBorders text-center">
										<p> Add 3 photos showing only you and find out how many people likes </p>
										<a class="btn btn-default"> Add Photos </a>
									</div>
									<div class="col-lg-5 thinBorders">
										<p> You don't have any award yet. Find out how to get them. </p>
										<a class="btn btn-default"> Get Award </a>
									</div>
									<div class="col-lg-12 thinBorders">
										<p class="pinkTxt" style="padding-top: 1vh;"> Recommended by <span class="badge pinkBG1"> 8 </span></p>
									</div>
								</div><!-- class row -->
							</div>
						</div><!-- class row -->
					</div><!-- class row -->

					<div class="row" ng-show="activeTab === 'update'">

						<div class="col-lg-8 col-lg-offset-2">
							
							<div class="btn-group btn-group-justified" role="group" aria-label="">
								<a type="button" class="btn btn-default" ng-click="selected1 = !selected1; selected2 = false; freeUpdateList()" ng-class="{pinkBtn : selected1}"> Profil Settings </a>
								<a type="button" class="btn btn-default" ng-click="selected2 = !selected2; selected1 = false; freeUpdateList()" ng-class="{pinkBtn : selected2}"> Physical Settings </a>
							</div><!-- class btn-group -->

							<div class="well" ng-show="selected1">

								<form name="updateForm" novalidate role="update" ng-submit="updateProfil()">

									<!-- Username Input -->
									<div class="row form-group has-feedback" ng-class="{'has-success': updateForm.username.$valid, 'has-error': updateForm.username.$invalid && updateForm.username.$dirty}"> 

										<label class="greyTxt2" for="username"> Username </label>
										
										<input type="text" class="form-control" ng-model="profil.username" aria-describedby="usernameStatus"placeholder="Username" name="username" ng-minlength="2" ng-maxlength="60" ng-change="addToList({username: profil.username})">

										<!-- Errors -->
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updateForm.username.$valid" aria-hidden="true"></span>
										<span id="usernameStatus" class="sr-only"> (success) </span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updateForm.username.$invalid && updateForm.username.$dirty" aria-hidden="true"></span>
										<span id="usernameStatus" class="sr-only"> (warning) </span>
										<span class="validationError" ng-show="updateForm.username.$error.minlength"> * The username has to be a least 2 characters </span>
										<span class="validationError" ng-show="updateForm.username.$error.maxlength"> * The username can't be more than 60 characters </span>
									</div><!-- class col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

									<hr>

									<div class="row has-feedback" ng-class="{'has-success': updateForm.location.$valid, 'has-error': updateForm.location.$invalid && updateForm.location.$dirty}">
										<label class="pull-left greyTxt2" for="location"> Your Location </label>
										<input ng-model="profil.location" name="location" id="location" class="form-control" type="text" placeholder="Your location..." aria-describedby="locationStatus" geocode-check required data-animation="am-flip-x" bs-options="address.formatted_address as address.formatted_address for address in getAddress($viewValue)" bs-typeahead ng-change="addToList({location: profil.location})"/>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updateForm.location.$valid" aria-hidden="true"></span>
										<span id="locationStatus" class="sr-only"> (success) </span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updateForm.location.$invalid && updateForm.location.$dirty" aria-hidden="true"></span>
										<span id="locationStatus" class="sr-only"> (warning) </span>
										<span class="form-control-feedback" ng-show="updateForm.location.$pending.geocodecheck"><i class="fa fa-circle-o-notch fa-spin"></i></span>
										<span class="validationError" ng-show="updateForm.location.$error.geocodecheck"> * The location is invalid </span>

										<button class="btn geoBtn greenBG whiteTxt center-block" ng-click="geolocate()"><i class="fa fa-map-marker fa-lg"></i> Geolocate Me ! </button>

										<p class="mapMessage text-center" ng-show="loading"><i class="fa fa-cog fa-spin"></i> Locating... </p>
										<p class="mapMessage text-center" ng-show="geolocationSuccess"><i class="fa fa-check-circle"></i></i> Geolocation complete ! </p>
										<p class="mapMessage text-center" ng-show="geolocationError"><i class="fa fa-exclamation-triangle"></i> Error, please try again ! </p>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<label class="greyTxt2" for="whyHere"> I'm here to </label>
										<textarea class="form-control" ng-model="profil.whyHere" rows="5" placeholder="Tell us why are you here ?" ng-change="addToList({whyHere: profil.whyHere})"></textarea>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<label class="greyTxt2" for="aboutMe"> About Me </label>
										<textarea class="form-control" ng-model="profil.aboutMe" rows="5" placeholder="Tell us more about you... " ng-change="addToList({aboutMe: profil.aboutMe})"></textarea>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<button type="submit" class="btn pinkBtn largeBtn sectionBtn center-block"><i class="fa fa-check fa-lg"></i> Save Changes </button>
									</div><!-- class row -->
								</form>
							</div><!-- class well -->

							<div class="well" ng-show="selected2">
								<form name="updatePhysicalForm" novalidate role="update" ng-submit="updateProfil(profil)">

									<div class="row form-group" ng-class="{'has-success': updatePhysicalForm.height.$valid, 'has-error': updatePhysicalForm.height.$invalid && updatePhysicalForm.height.$dirty}"> 
										
										<label class="greyTxt2" for="height"> Height </label>

										<div class="input-group">
											<input type="number" string-to-number class="form-control" ng-model="profil.height" aria-describedby="heightStatus" placeholder="Your Height..." min="120" max="220" ng-maxlength="3" ng-change="addToList({height: profil.height})">
											<span class="input-group-addon">
												<span> cm </span>
											</span>
										</div><!-- class input-group -->

										<!-- Errors -->
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updatePhysicalForm.height.$valid" aria-hidden="true"></span>
										<span id="heightStatus" class="sr-only"> (success) </span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updatePhysicalForm.height.$invalid && updatePhysicalForm.height.$dirty" aria-hidden="true"></span>
										<span id="heightStatus" class="sr-only"> (warning) </span>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<label class="greyTxt2" for="skin"> Skin Color </label>
										<select ng-model="profil.skin" class="form-control" ng-change="addToList({skin: profil.skin})">
											<option value="" disabled="disable"> What is your skin color ? </option>
											<option value="black"> Black </option>
											<option value="asian"> Asian </option>
											<option value="white"> White </option>
											<option value="mixed"> Mixed </option>
										</select>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<label class="greyTxt2" for="eyes"> Eyes Color </label>
										<select ng-model="profil.eyes" class="form-control" ng-change="addToList({eyes: profil.eyes})">
											<option value="" disabled="disable"> What is your eyes color ? </option>
											<option value="black"> Black </option>
											<option value="brown"> Brown </option>
											<option value="blue"> Blue </option>
											<option value="green"> Green </option>
										</select>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<label class="greyTxt2" for="hair"> Hair Color </label>
										<select ng-model="profil.hair" class="form-control" ng-change="addToList({hair: profil.hair})">
											<option value="" disabled="disable"> What is your hair color ? </option>
											<option value="black"> Black </option>
											<option value="brown"> Brown </option>
											<option value="red"> Red </option>
											<option value="blond"> Blond </option>
										</select>
									</div><!-- class row -->

									<hr>

									<div class="row form-group" ng-class="{'has-success': updatePhysicalForm.weight.$valid, 'has-error': updatePhysicalForm.weight.$invalid && updatePhysicalForm.weight.$dirty}"> 
										
										<label class="greyTxt2" for="weight"> Weight </label>

										<div class="input-group">
											<input type="number" string-to-number class="form-control" ng-model="profil.weight" aria-describedby="weightStatus" placeholder="Your Weight..." min="30" max="120" ng-maxlength="3" name="weight" ng-change="addToList({weight: profil.weight})">
											<span class="input-group-addon">
												<span> kg </span>
											</span>
										</div><!-- class input-group -->

										<!-- Errors -->
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="updatePhysicalForm.weight.$valid" aria-hidden="true"></span>
										<span id="weightStatus" class="sr-only"> (success) </span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="updatePhysicalForm.weight.$invalid && updatePhysicalForm.weight.$dirty" aria-hidden="true"></span>
										<span id="heightStatus" class="sr-only"> (warning) </span>
									</div><!-- class row -->

									<hr>

									<div class="row">
										<a class="btn pinkBtn largeBtn sectionBtn center-block"><i class="fa fa-check fa-lg"></i> Save Changes </a>
									</div><!-- class row -->
								</form>
							</div><!-- class well -->
						</div><!-- class col-lg-12 -->
					</div><!-- class row -->

					<!-- Photos Section -->
					<div class="row" ng-show="activeTab === 'photos'" ng-init="displayPhotos()">
						
						<form class="dropzone" id="photoZone" dropzone="photosDropzoneConfig"></form>

						<div id="links" class="photos-display">
							<a ng-repeat="photo in photos track by photo.id" href="{{photo.path}}" title="{{photo.description}}" alt="{{photo.id}}" data-gallery>
								<img ng-src="{{photo.thumbnail_path}}" alt="{{photo.id}}">
							</a>
						</div><!-- class photo-display -->

					</div><!-- class row -->

					<div class="row" ng-show="activeTab === 'settings'">
						<div class="col-lg-6">
							<div ng-if="activeTab === 'settings'" ng-include="'partials/update-password.html'"></div>
						</div><!-- class col-lg-6 -->

						<div class="col-lg-6">
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal"> Delete Your Account </button>
						</div><!-- class col-lg-6 -->
					</div>

				</div><!-- class panel panel-default -->
			</div><!-- class col-lg-9 -->

		</div><!-- class row -->
	</div><!-- class container -->
</div><!-- class container-fluid -->