<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"> WingNote </h4>
</div>
<form novalidate name="wingNoteForm" ng-submit="wingNoteForm.$valid && addWingNote(wingNote); $close();">
	<div class="modal-body">
		<div class="row text-center">

			<label for="wingnoteTxt"> Write someting nice about {{visitedProfil.username}} in the text zone below </label>
			<textarea name="wingnoteTxt" ng-model="wingNote.text" id="wingnoteTxt" cols="60" rows="10" required></textarea>

		</div>
		<span class="validationError text-center" ng-show="wingNoteForm.wingnoteTxt.$error.required && wingNoteForm.wingnoteTxt.$dirty">* You have to write someting !</span>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-default"> Send </button>
		<button type="button" class="btn btn-default" ng-click="$close()"> Cancel </button>
	</div>
</form>